<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.badminton.mall.dao.BusinessUserMapper">
  <resultMap id="BaseResultMap" type="com.badminton.mall.entity.BusinessUser">
    <id column="business_user_id" jdbcType="INTEGER" property="businessUserId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="locked" jdbcType="TINYINT" property="locked" />
  </resultMap>
  <sql id="Base_Column_List">
    business_user_id, login_name, password, nick_name, locked
  </sql>

  <select id="login" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from business_user
    where login_name = #{userName,jdbcType=VARCHAR} AND password=#{password,jdbcType=VARCHAR} AND locked = 0
  </select>

  <insert id="insertSelective" parameterType="com.badminton.mall.entity.BusinessUser">
    insert into business_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessUserId != null">
        business_user_id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="locked != null">
        locked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessUserId != null">
        #{businessUserId,jdbcType=INTEGER},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <select id="selectByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from business_user
    where login_name = #{loginName} and locked = 0
  </select>
</mapper>